<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jets Accessibility suite">
 <!-- parallel="methods"	thread-count="10"> -->

	<test verbose="2" name="Accessibility test">
		<classes>
			<class name="com.ZAP_Selenium.SecurityTest" />
		</classes>
	</test>
</suite>
